<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'profile.jpeg' %>
	</div>


	<div id="content">
		<h1> figure </h1>
		<p>
			Ennui swag mustache salvia shaman. Affogato air plant mustache, etsy blue bottle schlitz tonx keffiyeh ascot iPhone seitan live-edge sustainable raclette. Hammock tumeric unicorn shaman brunch waistcoat +1 kale chips DIY cronut austin. Pabst unicorn meditation retro big mood. Freegan whatever hell of +1 knausgaard ethical DIY fam cray. Gochujang franzen normcore, praxis craft beer live-edge subway tile jianbing green juice selvage +1 aesthetic direct trade poke small batch. Bushwick venmo marfa, ethical raw denim meditation before they sold out salvia vinyl iceland flannel sustainable twee next level.
		</p>
	</div>


</div>